

.campaign-display{  
    &-header{
        @include sectionBody(100%,null,$color-white,center);
        padding: 0 20px;
        max-height: $space-xxxl;
        border-bottom: 1px solid $drop-shadow-10;
        color: #0d1216 !important;
        font-size: '1.4em';
        
        .hr{
            width: 1px;
            height: 24px;
            background: rgba(57,76,96,0.4);
        }

        .tooltip {
            position: relative;
            display: inline-block;
        }
          
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 90px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 150%;
            font-size: 0.8rem;
            left: 50%;
            margin-left: -60px;
        }
          
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
          
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    }

    &-body{
        @include sectionBody($space-trenta,auto,$color-grey-20,center);
        // max-height: 52.6em;
        max-height: 58.8em;
        

        &-preview{
            @include sectionBody(45em,69.62em,$color-dark,start);
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            padding-bottom: 32px;

            .display-container{
                &.displayIs{
                    &-active{
                        border-radius: 5px;
                        border: 0.1px solid $color-purple-60;
                    }
                }
                &:hover{
                    border-radius: 5px;
                    border: 0.1px solid $color-purple-60;
                }
            }

            & #title{
                margin-top: $space-xxl;
                margin-bottom: $space-xxxl;
                @include sectionBody(4em,90%,null,start);
                min-height: 4em;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('https://drive.google.com/uc?export=view&id=18QdCEwIxxyXYMtS_6rHjuEmbphq85SCp');
                position: sticky;
                top: 0;
                z-index: 4;
            }
            & #product, & #text{
                width: 85%;
            }
            & #image{
                width: 85%;
            }
            & #video{
                width: 85%;
                height: 100%;
            }
            & #divider{
                .divider{
                    &-s{
                        min-height: $space-m;
                    }
                    &-m{
                        min-height: $space-xl;
                    }
                    &-l{
                        min-height: $space-xxl;
                    }
                    &-xl{
                        min-height: $space-xxxl;
                    }
                }
                width: 85%;
            }

            .display-container.tooltip {
                position: relative;
                // border-bottom: 1px dotted black;
            }
              
            .display-container.tooltip .tooltiptext {
                visibility: hidden;
                width: 130px;
                height: 40px;
                color: white;
                text-align: center;
                position: absolute;
                z-index: 3;
                bottom: 100.5%;
                left: 88%;
                margin-left: -60px;
                background-color: rgba(255, 0, 0, 0);
                

                &-expand{
                    background-color: #18191B;
                    font-size: 0.8rem;
                    border-radius: 5px;
                    border: 0.1px solid #4F60F8;
                    padding: 5px 0;
                    display: flex;
                    justify-content: space-evenly;
                }
                &-image{
                    bottom: 101%;
                }
            }
              
            .display-container.tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #4F60F8 transparent transparent transparent;
                top: 80%;
            }

            .tipcontainer::after {
                content: "";
                position: absolute;
                left: 30%;
                // margin-left: -5px;
                // border-width: 5px;
                border-style: solid;
                border-color: $color-red ;
                top: 100%;
            }
              
            .display-container.tooltip:hover .tooltiptext {
                visibility: visible;
            }
        }

        &-preview::-webkit-scrollbar {
            display: none;
          }
    }
}