.content-section-{

    &Magazine,&TopProduct{
        .detail-item-body{
            align-items: center;
            background-color: $color-black;
            

            &-right-content::-webkit-scrollbar{
                display: none;
            }
            
            &-right-content{
                height: 90%;
                background-color:unset;
                overflow-x: scroll;
                justify-content: left;
                overflow-y: unset;
                width: 98%;
                margin-left: 2%;
                
                .content-data{
                    &-TopProduct,&-Magazine{
                      cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        height: 50em;
                        width: 15em;     
                        background: #18191B;
                        box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.35);
                        border-radius: 20px;
                        position: relative;
                        
                        &:hover{
                          margin-bottom: 1em;
                          .content-data-TopProduct-delete,
                          .content-data-Magazine-delete{
                            display: flex !important;
                          }
                        }
                        
                        &-delete{
                          z-index: 2;
                          cursor: pointer;
                          svg{
                            padding: 0.4em 0 0 0.7em;
                          }
                          display: none;
                          min-width: 4em;
                          position: absolute;
                          background: #252627;
                          min-height: 4em;
                          border-bottom-left-radius: 5em;
                          left: 11em;
                        }

                        div{
                          color: $color-secondary-white;
                        }

                        
                        .content-data-wrapper{
                          height: 100%;

                          .topProduct-,.magazine-{
                              &title{
                                  height: 8%;
                              }
                              
                              &urlKey{
                                  height: 8%;
                                  display: flex;
                                  flex-direction: column;

                                  h3{
                                      margin: unset !important;
                                  }
                              }
                              &sku{
                                  height: 64%;
                                  margin-top:2em;                            
                                  ol {
                                      padding-left: 4em !important;
                                      margin-top: 10%;
                                      h4 {
                                        margin-top: 1em;
                                          li{
                                              text-align: -webkit-left;
                                              padding-left: 2em;
                                          }
                                      }
                                  }
                              }
                              &ID{
                                  h5{
                                      margin-bottom: 0.7em;
                                  }
                                  height: 16%;
                                  flex-direction: column;
                              }
                          }
                        }
                    }

                    &-Magazine{
                      &-delete{
                        left: 36.1em !important;
                      }
                      width: 40em !important;
                      .magazine-{
                        &urlKey{
                          height: 90% !important;
                          span,img{
                            border-radius: 2em;
                            height: 100%;
                          }
                        }

                        &bottom{
                          // align-items: flex-start !important;
                          height: 10% !important;
                        }

                      }
                    }
                    
                }
            }
            
        }

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
      
}