@import "./editorExpand";

.campaign-editor{
    display: flex;
    flex-direction: column;
    min-width: 72px;
    font-size: 11px;

    &-data{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 72px;
        min-height: 72px;
        position: relative;
        transition: all 0.2s;

        &.active{
            background-color: $color-black !important;
            

            &::after, &::before{
                content: "";
                position: absolute;
                background-color: #18191b;
                width: 4.5rem;
                height: 1em;
                top: 6.3em;
                border-top-right-radius: 5px;
            }

            &::before{
                background-color: #18191b !important;
                top: -0.6em !important;
                border-bottom-right-radius: 5px !important;
            }

            &.type-0::before{
                display: none !important;
            }
        }
        
        &-img{
            height: max-content;
            width: 18px;    
        }
        
        &-title{
            color: $color-white;
            margin-top: 7px;
        }
    }

}