
.detail-item-body-expand{
    padding: 0px 12px 0px 20px;

    &-container{
        // height: 900%;
        // width: 100%;
        
        & .renderTool{
            position: relative;

            > span >img{
                &.isLoading{
                    height: 1em !important;    
                }

                border-radius: 10px;
                height: 12em ;
                object-fit: cover;
            }
            
            &:hover > div{
                display: block;

                &.divider > span{
                    position: relative;
                    top: 2em;
                    // background-color: blue;
                }

                &.divider{
                    &-0 > span{
                        top: 2.5em !important;
                    }  
                    &-3 > span{
                        top: 1.7em !important;
                    }
                }
            }

            &.divider-component{
                .actionHover{
                    top: 0px !important;
                    max-height: 6em !important;
                    &-action{
                        max-height: 2em !important;
                    }
                }
            }

            .actionHover{
                z-index: 4;
                display: none;
                left: 0.8em;
                position: absolute;
                width: 18.9em;
                height: 12em;
                
                &-background{
                    opacity: 0.6;
                    border-radius: 10px;
                    position: absolute;
                    @include sectionBody(100%,100%,$color-black-10)
                }

                &-action{
                    position: relative;
                    @include sectionAlign(center,column);
                    & p{
                        font-size: $space-m - 2;
                        color: $color-white;
                        font-weight: bold;    
                    }
                    & button{
                        background-color: $color-orange-60;
                    }
                }

                &.part{
                    &-0{
                        top: 0.01em;
                    }
                    &-1,&-2{
                        top: 0.78em;
                    }
                }
            }
            
            .divider{
                min-height: 6em;
                border-radius: 10px;
                justify-content: center;
                background: $color-dark;
                align-items: center;
                width: 18.7em; 
                margin-left: 0.9em;
                display: flex;
                
                & span{
                    width: 100%;
                }
            }
        } 
    }

}
