@use './template' as c ;

.campaign-header{
    background-color: #8a2be2;
    @include c.padding(0, 0, 0, 20);
    display: flex;
    height: $space-trenta;

    .campaign-link{
        display: flex;
        .campaign-header-text{
            @include c.margin(0, 0, 0, 12);
        }
    }

    &-title{
        @include c.margin(0, 0, 0, 48);

        input{
            color: hsla(0,0%,100%) !important;
            max-width: 448px;
            border-radius: 4px;
            padding:12px 15px 12px 15px;
            
            &::placeholder{
                color: hsla(0,0%,100%,0.8);
            }
            
            &:hover{
                border: 1px solid hsla(0,0%,100%,0.4) !important;
            }    
        }
    }

    .campaign-header-account{
        @include c.padding(0, 20, 0, 0);
        justify-content: end;
        width: $space-venti + 5.2;
        
        &-border{
            background-color: $color-orange-10;
            @include c.align(flex, center, center);
            @include c.HnW(40px, 40px);
            @include c.radius(100%);

            >div{
                color: $color-black;
            }
        }
    }

    > div, .campaign-link > div{
        font-weight: $font-weight-medium;
        font-size: $font-s;
        color: $color-white;
        @include align(flex,center,center)
    }
}