.display-header-{
    &left{
        width: 33.3333333333%;
        display: flex;
        height: 100%;
        justify-content: start;
        align-items: center;
        text-align: start;

        .tooltip{
            &-icon{
                width: 6.5%;
            }
            &-hr{
                width: 1.5%;
            }
            &-duplicate{
                width: 41%;
            }

            .tooltiptext-help{
                left: 140% !important;

                &::after{
                    left: 18% !important;
                }
            }
        }

    }
    &middle{
        width: 33.3333333333%;
    }
    &right{
        text-align: end;
        width: 33.3333333333%;

        .tooltip{
            .tooltiptext{
                width: 65px;
            }
            .tooltiptext-delete{
                left: 115% !important;

                &::after{
                    left: 52% !important;
                }
            }
        }
    }


    
}