$color-white: #FEFEFC;
$color-secondary-white: #EEEEEE;
$color-third-white: #ECECEC;
$color-red: #FF0000;
$color-black: #252627;
$color-secondary-black: #2C2C2C;


// $color-grey-00: #FDFDFE;
// $color-grey-10: #F3F4F5;
// $color-grey-20: #E2E4E7;
// $color-grey-30: #C6C7CB;
// $color-grey-40: #80838C;
// $color-grey-50: #53565F;
// $color-grey-80: #3E4148;
// $color-grey-100: #313339;

// $color-orange-10: #FFF0E9;
// $color-orange-20: #FFD0B8;
// $color-orange-40: #FF9057;
// $color-orange-50: #F26A24;
// $color-orange-60: #AE3F06;

$color-blue-10: #E8F7FF;
$color-blue-20: #BEEAFF;
$color-blue-40: #40C1FF;
$color-blue-50: #008CCF;
$color-blue-60: #3f4447;

$color-yellow-10: #FFF7ED;
$color-yellow-20: #FFE5C7;
$color-yellow-40: #FFC279;
$color-yellow-50: #FFB152;
$color-yellow-60: #BB7A2B;

$color-red-10: #FFEAE9;
$color-red-20: #FFC5C2;
$color-red-40: #FF7B73;
$color-red-50: #E01B0E;
$color-red-60: #8F0900;

$color-green-10: #F6FFF3;
$color-green-20: #DCFFCF;
$color-green-40: #91E771;
$color-green-50: #62AD47;
$color-green-60 : #4D9035;

//dummy
$dummy-color-1:#8a2be2;

// Font
$font-xxs: 0.625rem;
$font-xxs-line-height: 0.75rem;

$font-xs: 0.75rem;
$font-xs-line-height: 1rem;

$font-s: 0.875rem;
$font-s-line-height: 1.25rem;

$font-m: 1rem;
$font-m-line-height: 1.5rem;

$font-l: 1.25rem;
$font-l-line-height: 2rem;

$font-xl: 2rem;
$font-xl-line-height: 3rem;

// Desktop
$font-l-extra-desktop: 1.5rem;
$font-l-extra-desktop-line-height: 1.75rem;
$font-xl-extra-desktop-line-height: 2.5rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Space
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 48px;

// Height
$space-demi: 20%;
$space-tall: 40%;
$space-grande: 60%;
$space-venti: 70%;
$space-venta: 80%;
$space-trenta: 100%;


//drop shadow
$drop-shadow-10: rgba(57,76,96,0.15);
$drop-shadow-20: #ebecf0;//
$drop-shadow-40: #777779;
$drop-shadow-50: #3E4148;//
$drop-shadow-60: #313339;//
// Width
// $width-demi: 20%;
// $width-tall: 40%;
// $width-grande: 60;
// $width-venti: 80%;
// $width-trenta: 100%;

@mixin padding($top,$right,$bottom,$left) {
 padding: $top+px $right+px $bottom+px $left+px;
}

@mixin height($value) {
    padding: $value;
}

@mixin margin($top,$right,$bottom,$left) {
 margin: $top+px $right+px $bottom+px $left+px;
}

@mixin align($display,$justify,$align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin HnW($height:auto,$width:auto) {
    $heightGage :$height;
    $widthGage :$width;

    @if $height {
        $heightGage :$height;
    }
    @if $width {
        $widthGage :$width;
    }

    height: $heightGage;
    width: $widthGage;
}

@mixin radius($borRadius) {
    border-radius: $borRadius;
}

@mixin background($color:$color-white) {
    @if $color {
        $color: $color;
    }
    background-color: $color;
}

@mixin sectionAlign($align: center,$direction:null) {
    display: flex;
    flex-direction: $direction;

    @if $align == center {
        justify-content: center;
        align-items: center;
    }
}

@mixin sectionBody($heigh:null,$width:null,$color:null,$align:null) {
    @include HnW($heigh,$width);
    @include background($color);
    @include sectionAlign($align);
}

// type
// transpaten
// grey = E2E2E2
// extra-grey = 777779
$color-dark: #18191B;
// primary = FDDD68
// secondary = 4F60F8
// alert = E46565

$color-icon:#0d1216;

$color-grey-10: #EBEBF0;
$color-grey-20: #ebecf0;
$color-grey-40: #777779;
$color-grey-50: #3E4148;//
$color-grey-60: #3F4754;//

//font
$color-black-10: #0e1318;
$color-black-20: #E2E2E2; //
$color-black-40: #777779;
$color-black-50: #3E4148;//
$color-black-60: #313339;//


$color-purple-10: #FFF0E9;//
$color-purple-20: #FFD0B8;//
$color-purple-40: #FF9057;//
$color-purple-50: #F26A24;//
$color-purple-60: #4F60F8;


$color-orange-10: #fbbe28;//
$color-orange-20: #FFD0B8;//
$color-orange-40: #FF9057;//
$color-orange-50: #fbbe28;//
$color-orange-60: #FDDD68;