@import "./template";
@import "./editor";
@import "./body";
@import "./header";
@import "./functions/input";
@import "./functions/button";
@import "./functions/margin";
@import "./functions/padding";
@import "./headerPreview";
//content
@import "./content";

//component
@import "./functions/Modules/Components/sass/productComponent";

@import "./functions/Modules/Components/sass/cardProductCollection";
@import "./functions/Modules/Components/sass/imageComponent";
@import "./functions/Modules/Components/sass/cardProduct";
@import "./functions/Modules/Components/sass/cardProductCollaboration";
@import "./functions/Modules/Components/sass/videoComponent";
@import "./functions/Modules/Components/sass/textComponent";
//dummy
@import "./functions/Modules/Components/sass/dummyDiv";

//global
@import "/src/global/scss/topProduct";
@import "/src/global/scss/cardTopProduct";
@import "/src/global/scss/magazine";
@import "/src/global/scss/loginPage";

$heightScale: 100%;
$widthScale: 100%;

@mixin areaName($name) {
    grid-area:$name;
}

.detail-item{
    background-color: red;
    height: 100vh;
   
    &-header{
        background-color: gray;
        // height: calc(12vh - 10px);
        height: 6%;
        @include areaName(header);
    }
    
    &-body{
        @include areaName(body);
        grid-template-columns: [detail-item-body-left] 0.038fr;
        grid-template-areas: "leftItem rightItem";
        display: grid;
        height: 94% ;

        transition: all 1s;

        &.expand{
            grid-template-areas:
            'leftItem expandItem rightItem';
            grid-template-columns: minmax(72px, 0.038fr) minmax(360px, 0.24fr) minmax(1480px, 1fr);
        }

        &-left{
            background-color: #18191b;
            @include areaName(leftItem);
            height: $heightScale;
        }
    
        &-expand{
            background-color: $color-black;
            @include areaName(expandItem);
        }
    
        &-right{
            background-color: yellow;
            @include areaName(rightItem);
            height: $heightScale;
            // width: $widthScale;
        }
    }

}

//arrow
.swiper{
    &-button-next{
        min-width: 40px;
        border-radius: 100px;
        min-height: 40px;
        max-height: 40px;
        background-color: $color-grey-20;

        &::after{
            font-size: $font-s !important;
        }
    }
}