.login-container-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-bottom: 3%;
    
    span{
        margin-top:5em;
        margin-right: 3.2%;
        img{
            width: 15em;
        }
    }

    .login-page{
        width: 33em;
        height: 25em;
        background-color: rgb(34, 44, 89);
        box-shadow: rgb(0 0 0 / 24%) 0px 4px 16px;
        border-radius: 8px;
    
        &-header{
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            font-size: 22px;
            line-height: 32px;
            margin: 0px;
            padding-top: 32px;
            color: rgb(255, 255, 255);
            text-align: center;
            margin-bottom: 1.6em;
        }

        .kpWeuB {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }

        &-label{
            color: rgb(255, 255, 255);
            display: block;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            width: 85%;
            text-align: left;
            margin-bottom: 1em;
        }

        &-input{
            color: black;
            background-color: rgb(232, 240, 254) !important;
            width: 79%;
            height: 2.5em;
            border: none;
            border-radius: 4px;
            box-shadow: rgb(0 0 0 / 24%) 0px 2px 4px inset;
            font-size: 16px;
            padding: 0px 16px;
            outline: none;
        }

        &-submit{
            line-height: 1.5;
            margin: 2.5em 0px 0px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-family: inherit;
            font-weight: 600;
            outline: none;
            text-align: center;
            text-transform: uppercase;
            transition: all 0.3s ease 0s;
            background: rgb(81, 47, 201);
            color: rgba(255, 255, 255, 0.87);
            min-height: 40px;
            font-size: 16px;
            padding: 0px 40px;
            width: 85%;
        }
    }
}