.flex.modal-content{
    height: 100%;
    position: absolute;
    width: 100%;

    .magazine-container{
        border: 5px solid $color-secondary-white;
        background-color: $color-black;
        top: 10%;
        height: 80%;
        width: 75%;
      

        &-header{
            height: 10%;
            justify-content: end;
            padding-right: 2%;
        }

        &-header{
            &-urlKey{
                input{
                    color: $color-white;
                    font-weight: bold;

                    &::placeholder{
                        color: $color-white;
                    }
                }
            }
        }
        &-body{
            height: 83%;
            width: 100%;
            display: flex;
            // flex-direction: column;
            align-items: center;
              
            .slick-slider{
                width: 100%;

                .slick-dots li button:before{
                    color: $color-secondary-white;
                }

                .slick-dots li.slick-active button:before{
                    color: $color-white;
                }
            }

            &-title{
                width: 38%;
                flex-direction: column;
                display: flex;
                border-radius: 1em;
                border: 2px solid azure;
                height: 35em;
                align-items: center;

                .jodit-react-container{
                    width: 80%;
                    height: 65%;
                    margin-top: 1em;

                    .jodit-container {
                        height: 100% !important;
                        .jodit-workplace{
                            .jodit-wysiwyg{
                                color: $color-white;
                            }
                            height: 80% !important;
                            min-height: unset !important;
                        }
                    }
                }
                
                input{
                    text-align: center;
                    color: $color-white;
                    font-size: 1.5em;
                    font-family: 'Aguafina Script', cursive;
                    letter-spacing: 0.3px; 
                    font-weight: bold;

                    &::placeholder{
                        color: $color-white;
                    }
                }
            }

            &-body{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                height: 100%;
                flex-direction: column;    
                width: 52%;
                max-height: 40em;
                align-items: center;

                .slick-slide.slick-active{
                    display: flex;
                    justify-content: center;
                }

                &-slick{
                    position: relative;
                    height: 35em;
                    width: 25em;
                    background: $color-grey-10;

                    .magazine-input{
                        text-align: center;
                    }

                    span,img{
                        width: 100%;
                        height: 100%;
                    }

                    &:hover{
                        .popUp-action{
                            display: flex !important;
                        }
                    }
                    .popUp-action{
                        z-index: 1;
                        display: none;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
                .cardProductmagazine-footer{ 
                    display: flex;
                    flex-direction: row !important;
                    justify-content: start;

                    .cardmagazine-description{
                        width: 55%;
                    }

                    .magazine-image{
                        width: 2em;
                    }

                    .cardmagazine-image{
                        max-width: 10em;
                        transform: scaleX(-1)  rotate(20deg);
                    }
                }
            }
        }

        &-footer{
            // height: 18%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}