.flex.modal-content{
    height: 100%;
    position: absolute;
    width: 100%;

    .topProduct-container{
        border: 5px solid $color-secondary-white;
        background-color: $color-black;
        top: 10%;
        height: 80%;
        width: 55%;

        &-header{
            height: 10%;
            justify-content: end;
            padding-right: 2%;
            
            &-title{

            }
            &-urlKey{
                
            }
        }

        &-header{
            &-urlKey{
                input{
                    color: $color-white;
                    font-weight: bold;

                    &::placeholder{
                        color: $color-white;
                    }
                }
            }
        }
        &-body{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-title{
                text-align: center;

                input{
                    color: $color-white;
                    font-size: 1.5em;
                    font-family: 'Aguafina Script', cursive;
                    letter-spacing: 0.3px; 
                    font-weight: bold;

                    &::placeholder{
                        color: $color-white;
                    }
                }
            }

            &-body{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 92%;
                max-height: 40em;
                align-items: center;

                .cardProductTopProduct-footer{ 
                    display: flex;
                    flex-direction: row !important;
                    justify-content: start;

                    .cardTopProduct-description{
                        width: 55%;
                    }

                    .topProduct-image{
                        width: 2em;
                    }

                    .cardTopProduct-image{
                        max-width: 10em;
                        transform: scaleX(-1)  rotate(20deg);
                    }
                }
            }
        }

        &-footer{
            height: 18%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}