div{
    .cardProduct{
        background-color: $color-white;
        width: 100%;
        position: relative;
        max-width: 160px;
        min-width: 160px;
        max-height: 235px;    
        height: 18em;
        border-radius: 8px;

        .clearSku{
            display: none;
            border-radius: 6px;
            position: absolute;
            height: 100%;
            background-color: $color-black;
            z-index: 1;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        &.sku-filled:hover > div.clearSku{
            cursor: pointer;
            display: flex !important;
            opacity: 0.8;
            
        }

        &.zigzag{
            margin-left: 90px !important;
            
        }

        &.margin-top-xs{
            margin-left: $space-xxl * 2;
        }
        
        &-header{
            background-color: transparent;
            // width: 100%;
            height: 100%;
            max-height: 1.7em;
            align-items: center;
            display: flex;
            padding: 8px 8px 6px;
            justify-content: space-between;

            & span{
                // height: 100%;
                width: 23px;
             
                & img{
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-body{
            max-height: 6.6em;
            height: 7em;
            padding: 15.5px 8px 0;

        
            & span{
                // height will follow from padding above
                & img{
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-footer{
            & p{
                &#card{
                    &Title{
                        letter-spacing: 0.5px;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 3px 8px 0;
                        color: $color-grey-40;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        font-family: 'Abhaya Libre';
                    }
                    &Price{
                        font-family: 'Abhaya Libre';
                        letter-spacing: 0.3px;
                        font-weight: 600;
                        margin-top: 8.5px;
                        padding: 0 8px 2px;
                        font-size: 16px;
                        color: #3F4754;
                    }                    
                }
            }    
        }
    }
}