div{
    .cardProductCollaboration{
        background-color: $color-white;
        width: 100%;
        max-width: 145px;
        min-width: 145px;
        max-height: 235px;    
        height: 18em;
        border-radius: 8px;

        .cardProductCollaboration-body{
            max-height: 9.3em;
            height: 27em;
            padding: 15.5px 8px 0;
            position: relative;
            
            > span{
                height: 10.1em;
                width: 8em;
                top: -1.5em;
                right: 0.5em;
                position: absolute;
            }

            // padding-top: unset;
            // position: relative;
            // bottom: 2em;
            // margin-bottom: 7px;


            // max-height: 8.5em;
            // height: 13em;
            // padding: 15.5px 8px 0;
        }

        &:hover{
            .cardProduct-body{
                span{
                    display: none !important;
                }
            }
        }

        .colabCard{
            min-height: 8.3em;
            span{ // sku product mirror and rotate
                position: relative;
                transform: scaleX(-1) rotate(60deg);
                top: -2em;
                right: 2.6em;
                min-width: 12em;
            }
        }

        .clearColabCard{
            opacity:0.8;

            max-height: 14.7em;
            max-width: 9.1em;
        }

        .clearSku{
            display: none;
            border-radius: 6px;
            position: absolute;
            height: 100%;
            background-color: $color-black;
            z-index: 1;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        &.sku-filled:hover > div.clearSku{
            cursor: pointer;
            display: flex !important;
            // opacity: 0.8;
            
        }

        &.zigzag{
            margin-left: 90px !important;
            
        }

        &.margin-top-xs{
            margin-left: $space-xxl * 2;
        }
        
        &-header{
            background-color: transparent;
            // width: 100%;
            height: 100%;
            max-height: 1.7em;
            align-items: center;
            display: flex;
            padding: 8px 8px 6px;
            justify-content: space-between;

            & span{
                // height: 100%;
                width: 23px;
             
                & img{
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-body{
            max-height: 6.6em;
            height: 7em;
            padding: 15.5px 8px 0;

        
            & span{
                // height will follow from padding above
                & img{
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-footer{
            border-top: 0.3em solid $color-secondary-white;
            padding-top: 0.3em;
            & p{
                &#card{
                    &Title{
                        letter-spacing: 0.5px;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 3px 8px 0;
                        color: $color-grey-40;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        font-family: 'Abhaya Libre';
                    }
                    &Price{
                        font-family: 'Abhaya Libre';
                        letter-spacing: 0.3px;
                        font-weight: 600;
                        margin-top: 8.5px;
                        padding: 0 8px 2px;
                        font-size: 16px;
                        color: #3F4754;
                    }                    
                }
            }    
        }
    }
}