div{
    .cardProductCollection{
        // background-color: $color-white;
        background-color: $color-secondary-white;
        position: relative;
        width: 100%;
        // max-width: 145px;
        // min-width: 145px;
        // max-height: 235px;    
        height: 100%;
        border-radius: 8px;
        .card-collection-body{
            // max-height: 9.3em;
            // height: 27em;
            // padding: 15.5px 8px 0;
            // position: relative;

            &.img-collection{
                span{
                    width: 100%;
                    img{
                        width: 70%;
                    }
                }
            }

            .react-loading-skeleton{
                &::after{
                    background-color: $color-white !important;
                    --base-color: #FEFEFC;
                    --highlight-color: #181B15;
                    opacity: 0.07;
                }
            }
     
            max-height: 8.8em;
            height: 100%;
            padding: 15.5px 8px 0;

            // > span{
            //     height: 10.1em;
            //     width: 8em;
            //     top: -1.5em;
            //     right: 0.5em;
            //     position: absolute;
            // }
        }

        // &:hover{
        //     .cardProduct-body{
        //         span{
        //             display: none !important;
        //         }
        //     }
        // }

        .clearColabCard{
            opacity:0.8;

            max-height: 14.7em;
            max-width: 9.1em;
        }

        .clearSku{
            display: none;
            border-radius: 6px;
            position: absolute;
            height: 100%;
            background-color: $color-black;
            z-index: 1;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        &.sku-filled:hover > div.clearSku{
            cursor: pointer;
            display: flex !important;
            opacity: 0.8;
        }

        &.zigzag{
            margin-left: 90px !important;
            
        }

        &.margin-top-xs{
            margin-left: $space-xxl * 2;
        }
        
        &-header{
            z-index: 4;
            width: 100%;
            position: absolute;
            &-logo{
                height: 100%;
                width: 15%;
                background: black;
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 100px;
            }

            background-color: transparent;
            height: 100%;
            max-height: 1.7em;
            align-items: center;
            display: flex;
            padding: 0 8px;
            justify-content: center;

            & span{
                // height: 100%;
                width: 23px;
             
                & img{
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-body{
            max-height: 6.6em;
            height: 7em;
            padding: 15.5px 8px 0;

        
            & span{
                // height will follow from padding above
                & img{
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &-footer{
            border-top: 0.4em solid #FEFEFC;
            height: 100%;
            // background: crimson;
            max-height: 4.2em;
            // border-top: 0.3em solid $color-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1.5%;
            
            & p{
                font-family: 'Abhaya Libre';
                color: $color-secondary-black;
                letter-spacing: 0.3px;
                // font-weight: 700;

                &#cardTitle{
                    width: 65%;
                    text-align: center;
                }

                &#cardPrice{
                    margin-top: 1%;
                    font-size: 1.25em;
                }                    
            }    
        }
    }
}