section{
    .image{
        img, .image-component{
            width: 100%;
        }

        .image-component{
            span{
                width: 100%;
            }

            position: relative;
            .empty{
                border-radius: 6px;
                @include sectionAlign(center);
                min-height: 10em;
                background-color: $color-white;
            }

            .input-field{
                display: none;
                border-radius: 4px;
                position: absolute;
                height: 100%;
                background-color: $color-black;
                z-index: 2;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
    
            &:hover > div.input-field{
                cursor: pointer;
                display: flex !important;
                opacity: 0.8;
                
            }
        }
    }
}