@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

section{
    .product{
        position: relative;

        #gradient{
            height: 100%;
            z-index: 2;
            // background-color: blue;
            width: 100%;
            position: absolute;
            background: -webkit-linear-gradient(0deg, rgba(24, 25, 27, 0.8) 0%, rgba(0, 188, 212, 0) 5%, rgba(0, 188, 212, 0) 95%, rgba(24, 25, 27, 0.8) 100%);
            pointer-events: none;
        }

        &#product{
            // background-color: brown;
            width: 100%;
            height: 30em;
            display: flex;
            // justify-content: center;
        }

        .product-container{
            height: 100%;
            width: 100%;
            min-width: 185px;// utk bisa zigzag
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &#product-collaboration, &#product-collection{
            // background-color: brown;
            width: 100%;
            height: 39em;
            display: flex;
                
            .product-collaboration, .celebrity-collection{
                height: 100%;
                width: 100%;
                
                display: flex;
                flex-direction: column;
                
                
                &-header{
                    height: 100%;
                    max-height: 4em;
                    display: flex;
                    justify-content:center;
                    
                    > input{
                        letter-spacing: 0.08em;
                        text-align: center;
                        font-family: 'Aguafina Script', cursive;
                        font-size: 2.5rem;
                        line-height: 78.2%;
                        color: $color-white;
                    }
                }

                &-container{
                    max-height: 23em !important;
                    display: flex;
                    height: 100%;
                    width: 100%;
                }

                &-rightBody{
                    max-height: 24em;
                    width: 100%;
                    max-width: 39.5em;
                    // background-color: aquamarine;

                    .rightBody-top{
                        display: flex;
                        justify-content: space-evenly;
                    }

                    .rightBody-bottom{
                        .jodit-react-container{
                            .jodit-container, .jodit-workplace{
                                border: unset !important;
                                height: unset !important;
                                min-height: unset !important;
                                
                                .jodit-wysiwyg{
                                    padding-top: unset !important;
                                    color: $color-secondary-white !important;
                                    text-align: right !important;
                                    height: unset !important;
                                    min-height: 6em !important;   

                                    letter-spacing: 0.5px;
                                    font-weight: 100;   
                                    font-family: "Abhaya Libre";
                                }   

                                .jodit-wysiwyg::first-letter{
                                    font-size: $font-xl !important;
                                }
                            }

                            .jodit-add-new-line.jodit-add-new-line_after{
                                display: none !important;
                            }
                        } 
                    }
                }

                &-leftBody{
                    position: relative;
                    // background: aquamarine;
                    max-width: 17em;
                    width: 17em;
                    height: 100%;
                    max-height: 24em;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .collabroration-text{
                        display: none;
                        position: absolute;
                        width: 50% !important;
                        height: 10%  !important;
                        z-index: 4 !important;
                        
                        &.text{    
                            &-top{
                                top: 2em;
                                left: 3em;
                                // background-color: yellowgreen !important;
                            }
                            &-bottom{
                                bottom: 2.3em;
                                right: 3em;
                                // background-color: red !important;
                            }
                        }
                    }
                    
                    
                    .collabroration-text:hover{// when siblin hover input filed appear, when hovering input field, sibling hover will auto disabled, this line will overide hover sibling
                        display: block !important;
                    }

                    &-collaboration{
                        position: absolute;
                        cursor: pointer;

                        &.active:hover {
                           & + input{ // on hover sibling
                                &.collabroration-text{
                                    display: block !important;
                                }
                            }
                        }
                            
                        &.top-image{
                            top: 1.2em;
                            z-index: 1;
                                max-height: 20em;
                                border-radius: 8px;
                                -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
                                clip-path: polygon(0 0, 0% 100%, 100% 0);

                            img {
                                z-index: 1;
                                max-height: 20em;
                            }
                        }
                        &.bottom-image{
                            bottom: 1.2em;
                            border-radius: 8px;
                            -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                            img {
                                max-height: 20em;
                            }
                        }
                    }
                }

                &-bottom{
                    height: 100%;
                    max-height: 6.3em;
                    // height: 100%;
                    // max-height: 4em;
                    // display: flex;
                    // justify-content:center;
                    
                    > input{
                        max-height: 1.4em;
                        // letter-spacing: 0.08em;
                        font-family: 'Abhaya Libre';
                        font-weight: bold;
                        font-size: 55px;
                        line-height: 78.2%;
                        color: $color-secondary-white;

                        text-align: center;
                        font-size: 1.7em;
                    }

                    .signature{
                        >span>span{
                            --base-color: #cecbcb
                        }
                        
                        input{
                            display: none;
                            position: absolute;
                            top: 1.3em;
                            z-index: 2;
                            width: 13em !important;
                            height: 3em !important;
                        }
                        .lazy-load-image-background img{
                            max-width: 10em;
                        }

                        &:hover{
                            span{
                                
                                // background-color: $color-black;
                                opacity: 0.8;
                                z-index: 0;
                                span{
                                    opacity: 0.8;
                                }
                            }
                            input{
                                display: block !important;
                            }
                        }

                        position: relative;
                        margin-top: 0.2em;
                        // background-color: white;
                        justify-content: center;
                        height: 100%;
                        display: flex;
                    }
                }

            }
        }

        &#product-collection{

            .celebrity-collection-leftBody-collection.bottom-image{
                .celebrity-collection-input{
                    height: 100%;
                    position: relative;

                    &:hover{
                        .celebrity-collection-input-background{
                            display: flex !important;
                        }
                    }
                    
                    &-background{
                        display: none;
                        height: 100%;
                        // width: 85%;
                        position: absolute;
                        // left: 7.5%;
                        justify-content: center;
                        align-items: center;
                        top: 0.2%;
                        z-index: 2;
                        opacity: 0.8;
                        background-color: #252627;
                        width: 95%;
                        left: 2.5%;
                    }
                }
            }

            .product.celebrity-collection{
                max-height: 33em !important;
                .celebrity-collection-container{
                    max-height: unset !important;
                    .celebrity-collection {

                        &-leftBody{
                            min-height: 100% !important;
                            width: 110% !important;
                            max-height: 100% !important;
                            height: 100%;
                            min-width: 50% !important;
                            max-width: 110% !important;
                            
                        
                            &-collection{
                                min-height: 30em;
                                width: 100%;
                                height: 100%;
                                span{
                                    width: 95%;
                                    height: 100%;
                                    max-width: 95% !important;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        &-rightBody{
                            // background-color: yellow;
                            max-height:unset;
                            padding-right: 3em;
                            display: flex;
                            flex-direction: column; 
                            align-items: center;

                            .rightBody{
                                &-top{
                                    width: 100%;
                                    // background-color: red;
                                    justify-content: center;

                                    > input{
                                        letter-spacing: 0.08em;
                                        text-align: center;
                                        font-family: 'Aguafina Script', cursive;
                                        font-size: 1.5rem;
                                        color: $color-white;
                                    }
                                }
                                &-middle{
                                    background-color: $color-white;
                                    justify-content: center;
                                    // width: 100%;
                                    // height: 100%;
                                    width: 75%;
                                    height: 50%;

                                    max-width: 380px;
                                    max-height: 265px;
                                    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.04);
                                    border-radius: 12px;
                                }
                                &-bottom{

                                    width: 100%;
                                    justify-content: center;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}