section{
    .text{  
        .jodit{
            &-react-container{
                
            }
            
            &-container{
                .jodit-wysiwyg{
                    color: $color-white;
                }
            }
            
            // .text .jodit .jodit-toolbar__box:hover{
            // }
            &-toolbar__box{
                // visibility: hidden;
            }
        }
        
        .text-component .jodit-react-container .jodit-container .jodit-toolbar__box:hover{
            visibility: visible !important;
        }
    }

    .editor-{
        &false{
            div>.jodit-toolbar__box{
                display: none;
            }
        }
        &true{
            div>.jodit-toolbar__box{
                display: block;
            }
        }
    }
}
