section{
    .video{
        min-height: 26em;
        height: 100%;
        
        .video-component{
            height: 100%;
            width: 100%;
        }

        .video-component{
            iframe,span{
                height: 100%;
                width: 80%;
                border: unset;
                border-radius: 10px;
            }

            position: relative;
            .empty{
                border-radius: 6px;
                @include sectionAlign(center);
                height: 100%;
                // max-height: 10em;
                background-color: $color-white;
                span{
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    span{
                        height: 85% !important;
                    }
                }
            }

            .input-field{
                display: none;
                border-radius: 4px;
                position: absolute;
                height: 100%;
                background-color: $color-black;
                z-index: 2;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
    
            &:hover > div.input-field{
                cursor: pointer;
                display: flex !important;
                opacity: 0.8;
                
            }
        }
    }
}