@use '../template' as temp  ;

@mixin fontSize($size) {
    font-size: $size !important;
}
@mixin fontWeight($weight) {
    font-weight: $weight !important;
}

button{
    color: $color-black-10;
    max-width: 448px;
    letter-spacing: unset;
    font-size: $space-m;
    cursor: pointer;

    @include temp.radius(5px);
    @include temp.padding(5, 11, 5, 11);
    @include temp.align(flex, center, center);

    &.button{
        &.font{
            &-xxs{
                @include fontSize($font-xxs);
            }
            &-xs{
                
                @include fontSize($font-xs);
            }
            &-s{
                
                @include fontSize($font-s);
            }
            &-m{
                
                @include fontSize($font-m);
            }
            &-l{
                
                @include fontSize($font-l);
            }
            &-xl{
                
                @include fontSize($font-xl);
            }

            &-weight{
                &-regular{
                    @include fontWeight($font-weight-regular);
                }
                &-medium{
                    @include fontWeight($font-weight-medium);
                }
                &-semi-bold{
                    @include fontWeight($font-weight-semi-bold);
                }
                &-bold{
                    @include fontWeight($font-weight-bold);
                }
            }
        }
        &-size-{
            &s{
                height: $space-s * 3 - 4!important;
                width : $space-s * 8 !important;
            }
        }
    }

    &[type=secondary]{
        outline: unset;
        background-color: $color-grey-10;
        border: unset;
    }

    &[type=delete]{
        outline: unset;
        background-color: $color-red-40;
        border: unset;
        color: $color-white;
    }

    &[type=transparent]{
        outline: unset;
        background-color: transparent;
        border: unset;
    }

    &[type=drop-shadow]{
        outline: unset;
        background-color: transparent;
        box-shadow: 1px 1px 3px 0.2px rgb(0 0 0 / 20%);
        border: unset;
        padding: 1px 0 0;
        width: 28px !important;
        height: 100% !important;
        margin: unset;

        & > svg{
            &.wishlist{
                opacity: 0.4;
            }
        }
    }

    &[type=header-body]{
        background-color:unset;
        &:hover{
            background-color: rgba(64,87,109,0.07);
        }
        outline: unset;
        border: unset;
    }

    &[type=submit-button-primary]{
        background-color:$color-blue-10;
        &:hover{
            background-color: rgba(64,87,109,0.07);
        }
        outline: unset;
        border: unset;
    }

    &[type=editor-tooltip]{
        cursor: pointer;

        background-color:unset;
        &.isDisable{
            cursor: not-allowed;
            // pointer-events: none;
        }
        &:hover{
            background-color: rgba(241, 187, 115, 0.07);
        }
        outline: unset;
        border: unset;
    }
    
}

// height: 2em;
//     width: 100%;
//     width: 10em;
//     color: #FEFEFC;
//     border-radius: 20px;
//     /* left: 20px; */
//     background-color: #252627;