@use '../template' as temp  ;

#inputTemplate{
    input{
        // color: hsla(0,0%,100%) !important;
        max-width: 448px;
        border-radius: 4px;
        @include temp.padding(12, 15, 12, 15);
        
        &::placeholder{
            color: hsla(0,0%,100%,0.8);
        }
        
        &:hover{
            border: 1px solid hsla(0,0%,100%,0.4) !important;
        }    
    }

    &[type='actionType']{
        padding-left: $space-xs;
        border-radius: 4px;
        outline: unset;
        border: unset;
        background-color: #ebebeb !important;
    }

    &[type='secondaryActionType']{
        padding-left: $space-xs;
        border-radius: 4px;
        outline: unset;
        border: unset;
        background-color: #E2E2E2 !important;
    }

    

    &[type='transparent']{
        outline: unset;
        background-color: transparent !important;
        border: unset;
    }
}

