.padding-unset {
    padding: unset !important;
}

.padding-xs {
    padding: $space-xs !important;
}

.padding-s {
    padding: $space-s !important;
}

.padding-m {
    padding: $space-m !important;
}

.padding-l {
    padding: $space-l !important;
}

.padding-xl {
    padding: $space-xl !important;
}

.padding-xxl {
    padding: $space-xxl !important;
}

.padding-xxxl {
    padding: $space-xxxl !important;
}

.padding-top-none,.padding__vertical--none {
    padding-top: 0 !important;
}

.padding-top-xs,.padding__vertical--xs {
    padding-top: $space-xs !important;
}

.padding-top-s,.padding__vertical--s {
    padding-top: $space-s !important;
}

.padding-top-m,.padding__vertical--m {
    padding-top: $space-m !important;
}

.padding-top-l,.padding__vertical--l {
    padding-top: $space-l !important;
}

.padding-top-xl,.padding__vertical--xl {
    padding-top: $space-xl !important;
}

.padding-top-xxl,.padding__vertical--xxl {
    padding-top: $space-xxl !important;
}

.padding-top-xxxl,.padding__vertical--xxxl {
    padding-top: $space-xxxl !important;
}

.padding-right-none,.padding__horizontal--none {
    padding-right: 0 !important;
}

.padding-right-xs, .padding__horizontal--xs {
    padding-right: $space-xs !important;
}

.padding-right-s, .padding__horizontal--s {
    padding-right: $space-s !important;
}

.padding-right-m, .padding__horizontal--m {
    padding-right: $space-m !important;
}

.padding-right-l, .padding__horizontal-- {
    padding-right: $space-l !important;
}

.padding-right-xl, .padding__horizontal--xl {
    padding-right: $space-xl !important;
}

.padding-right-xxl, .padding__horizontal--xxl {
    padding-right: $space-xxl !important;
}

.padding-right-xxxl, .padding__horizontal--xxxl {
    padding-right: $space-xxxl !important;
}

.padding-bottom-none, .padding__vertical--none {
    padding-bottom: 0 !important;
}

.padding-bottom-xs, .padding__vertical--xs {
    padding-bottom: $space-xs !important;
}

.padding-bottom-s, .padding__vertical--s {
    padding-bottom: $space-s !important;
}

.padding-bottom-m, .padding__vertical--m {
    padding-bottom: $space-m !important;
}

.padding-bottom-l, .padding__vertical--l {
    padding-bottom: $space-l !important;
}

.padding-bottom-xl, .padding__vertical--xl {
    padding-bottom: $space-xl !important;
}

.padding-bottom-xxl, .padding__vertical--xxl {
    padding-bottom: $space-xxl !important;
}

.padding-bottom-xxxl, .padding__vertical--xxxl {
    padding-bottom: $space-xxxl !important;
}

.padding-left-none, .padding__horizontal--none {
    padding-left: 0 !important;
}

.padding-left-xs, .padding__horizontal--xs {
    padding-left: $space-xs !important;
}

.padding-left-s, .padding__horizontal--s {
    padding-left: $space-s !important;
}

.padding-left-m, .padding__horizontal--m {
    padding-left: $space-m !important;
}

.padding-left-l, .padding__horizontal--l {
    padding-left: $space-l !important;
}

.padding-left-xl,  .padding__horizontal--xl {
    padding-left: $space-xl !important;
}

.padding-left-xxl, .padding__horizontal--xxl {
    padding-left: $space-xxl !important;
}

.padding-left-xxxl, .padding__horizontal--xxxl {
    padding-left: $space-xxxl !important;
}