

@mixin scale($heigh,$width) {
    height: $heigh;
    width: $width;
}

.loading{    
    @include scale(100%,100%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8.5px solid #252627;
    border-top-color: #3bc1ff;
    border-bottom-color: #f8746d;
    animation: rotate 5s linear infinite;
    border-radius: 50%;

    &-wrapper{
        @include scale(110px,110px);
    }

    &-inner{
        @include scale(85px,85px);
        border-top-color: #90ed6f;
        border-bottom-color: #b7e1f5;
        animation: rotate 2.5s linear infinite;
    }

    @keyframes rotate {
        0%{
            transform: scale(1) rotate(360deg);
        }
        50%{
            transform: scale(.8) rotate(-360deg);
        }
        100%{
            transform: scale(1)  rotate(360deg);
        }
    }
}