.App {
  text-align: center;
}

.Toastify__close-button.Toastify__close-button--light{
  max-width: 1em !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  background-color: #122546;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.flex{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
  display: flex;
}

.endPosition{
  justify-content: center;
  align-items: end;
  display: flex;
}

.align-item-c{
  align-items: center;
}

Body{
  height: 100vh;
}

div#root,.App{
  height: 100%;
}

.h-full{
  height: 100%;
}

.h-ex-full{
  height: 90%;
}

.h-half{
  height: 50%;
}

.h-medium{
  height: 40%;
}

.h-ex-half{
  height: 35%;
}

.h-small{
  height: 25%;
}

.h-ex-small{
  height: 15%;
}

.h-tiny{
  height: 10%;
}

.h-inherit{
  height: inherit;
}

.w-inherit{
  width: inherit;
}

.all-inherit{
 width: inherit;
 height: inherit; 
}

.App{
  background-color: #122546;
}

.w-ex-tiny{
  width: 5%;
}

.w-tiny{
  width: 10%;
}

.w-ex-small{
  width: 15%;
}

.w-m-small{
  width: 20%;
}

.w-small{
  width: 25%;
}

.w-ex-half{
  width: 35%;
}

.w-medium{
  width: 40%;
}

.w-half{
  width: 50%;
}

.w-medium-ex-half{
  width: 65% !important;
}

.w-medium-half{
  width: 75% !important;
}

.w-ex-full{
  width: 80% !important;
}

.w-full{
  width: 100% !important;
}

.cnt-full{
  width: 100%;
  height: 100%; 
}

.f-start{
  justify-content: flex-start;
}

.f-center{
  justify-content: center;
}

.d-inline-f{
  display: inline-flex;
}

.rad-tiny{
  border-radius: 5px;
}

.absolute{
  position: absolute;
}    

input#homePage{
  padding-left: 7%;
  outline: unset;
  border: unset;
}

.main-tab-left, .main-tab-right{
  background-color: #FFFFFF;
}

.main-tab-left-radius{
  border-radius: 160px 0px 0px 0px;
}

.border-right{
  border-right: 1px solid #E0E6ED;
}

.dummy{
  height: 10%;
  width: 10%;
  background-color: tomato;
  color: white;
}

.p-top-ex-tiny{
  padding-top: 5%;
}

.p-top-tiny{
  padding-top: 10%;
}

.p-top-ex-small{
  padding-top: 15%;
}

.p-top-m-small{
  padding-top: 20%;
}

.p-top-small{
  padding-top: 25%;
}

.p-top-ex-half{
  padding-top: 35%;
}

.p-top-medium{
  padding-top: 40%;
}

.p-top-half{
  padding-top: 50%;
}

/*  */

.p-left-ex-tiny{
  padding-left: 5%;
}

.p-left-tiny{
  padding-left: 10%;
}

.p-left-ex-small{
  padding-left: 15%;
}

.p-left-m-small{
  padding-left: 20%;
}

.p-left-small{
  padding-left: 25%;
}

.p-left-ex-half{
  padding-left: 35%;
}

.p-left-medium{
  padding-left: 40%;
}

.p-left-half{
  padding-left: 50%;
}

/*  */

.p-right-ex-tiny{
  padding-right: 5%;
}

.p-right-tiny{
  padding-right: 10%;
}

.p-right-ex-small{
  padding-right: 15%;
}

.p-right-m-small{
  padding-right: 20%;
}

.p-right-small{
  padding-right: 25%;
}

.p-right-ex-half{
  padding-right: 35%;
}

.p-right-medium{
  padding-right: 40%;
}

.p-right-half{
  padding-right: 50%;
}

/*  */

.m-top-ex-tiny{
  margin-top: 5%;
}

.m-top-tiny{
  margin-top: 10%;
}

.m-top-ex-small{
  margin-top: 15%;
}

.m-top-m-small{
  margin-top: 20%;
}

.m-top-small{
  margin-top: 25%;
}

.m-top-ex-half{
  margin-top: 35%;
}

.m-top-medium{
  margin-top: 40%;
}

.m-top-half{
  margin-top: 50%;
}

/*  */

.m-right-ex-tiny{
  margin-right: 5%;
}

.m-right-tiny{
  margin-right: 10%;
}

.m-right-ex-small{
  margin-right: 15%;
}

.m-right-m-small{
  margin-right: 20%;
}

.m-right-small{
  margin-right: 25%;
}

.m-right-ex-half{
  margin-right: 35%;
}

.m-right-medium{
  margin-right: 40%;
}

.m-right-half{
  margin-right: 50%;
}

div#MainOption.flex.w-full.center:hover{
  cursor: pointer;
  background-color: #E1ECFF;
  border-radius: 0px 50px 50px 0px;
  transition: ease-in-out 0.4s;
}


div#CreateNew{
  border-radius: 60px;
  box-shadow: 1px 1.5px 4px 0px #888888;
}

#CreateNew.flex.center.m-top-half.w-ex-full{
  height: 8%;
}

div#CreateNew:active {
  box-shadow: 1px 1.5px 1px -1px #888888;
  opacity: 0.6;
  transition: ease-out 0.05s;
  /* box-shadow: unset; */
  /* color: #4a4a4a !important; */
}

div{
  color: #5F6368;
}

div#MainOption.flex.w-full.center.active{
  background-color: #E1ECFF;
  border-radius: 0px 50px 50px 0px;
  transition: ease-in 0.4s;
}

.end{
  justify-content: flex-end;
}

.start{
  justify-content: flex-start;
}

.a-start{
  align-items: start !important;
}

div#MainOption{
  height: 75% !important
}

.modal{
  border-radius: 20px;
  top: 20%;
  background-color: #FFFF;
}

div#modal{
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
}

div#modal-header{
  height: 15%;
  width: 100%;
}

div#modal-title{
  height: 95%;
  width: 100%;
  padding-top: 1%;
  font-size: 25px;
}

hr#m-hr{
  height: 5%;
  width: 90%;
  border: unset;
  margin: unset;
  background-color: #3C4055;
}

div#modal-body{
  height: 70%;
  /* background-color: blue; */
}

div#modal-body > div{
  flex-direction: column;
}

div#m-content-left{
  width: 60% !important;
  align-items: end;
}

/* div#modal-body > div{
width: 30%;
} */

div#modal-footer{
  height: 15%;
  border-radius: 5px;
}

div#m-content-right{
  width: 40%;
}

button{
  background-color: #3C4055;
  border: unset;
  width: 90%;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 3px;
  height: 60%;
  font-weight: 700;
}

div#picker .DayPickerInput > input{
  height: 100%;
  text-align: center;
}

.DayPickerInput{
  width: 100%;
  height: 100%; 
}

div#picker{
  height: 20% !important;
  width: 70%;
  padding-top: 11%;
  padding-left: 10%;
}

.w-half.column.center.end{
  padding-top: 9% !important;
  padding-top: 7.4% !important;
}

input#m-input, .DayPickerInput > input,select#modal-select, #modal-select-multiple{
  border: 2px solid rgb(0, 0, 0, 0.2);
  height: 40%;
  width: 98% ;
  border-radius: 5px;
}


.w-medium-ex-half.h-full > div {
  text-align: start;
  color: #3C4055;
  font-weight: 500;
  margin-bottom: 2%;
}

.w-medium-ex-half.h-full{
  display: flex;
  justify-content: end;
  flex-direction: column;
}

input{
  color: #5F6368;
}

.validate{
  flex-direction: row !important;
  width: 100% !important;
}

div#m-field, div#m-field .validate{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  align-items: start;
}

.verify{
  border-radius: 0px 5px 5px 0px;
  border: 2px solid rgb(0, 0, 0, 0.2);
  width: 30%;
  height: 59%;
  background-color: #F97D38;
  font-weight: bold;
  color: white;
}

.validate > input{
  height: 50% !important;
}

.w-half.d-inline-f{
  color: white !important;
}

.bold{
  font-weight: bold;
}


/* font */
.f-tiny{
  font-size: 5px;
}

.f-small{
  font-size: 10px;
}

.f-medium{
  font-size: 15px;
}

.f-large{
  font-size: 20px;
}

.f-ex-large{
  font-size: 35px;
}


/* position */
.m-unset{
  margin: unset !important;
}
.p-unset{
  padding: unset !important;
}
.a-end{
  align-items: end;
}
.a-start{
  align-items: end;
}

/* shadow */
.shadow{
  box-shadow: 1px 2.5px 11px 0px rgb(0 0 0 / 20%);
}

/* id */
#rc-campaign-cnt{
  overflow-y: scroll;
  width: 90%;
  /* background: aquamarine; */
  display: flex;
  height: 90%;
  flex-wrap: wrap;
  align-content:start;
}

#rc-campaign-cnt::-webkit-scrollbar {
  display: none;
}


#rc-campaign-cnt > div{
  border: 1px solid #DADCE0;
  height: 28%;
  width: 22%;
  background-color: #F1F1F1;
  border-radius: 5px;
  color: white;
  margin-right: 2%;
  max-height: 13em;
  min-height: 13em;
}

#rc-campaign-detail{
  height: 55%;
  border-top: 1px solid #DADCE0;
}

#rc-campaign-detail-1 > p{
  color:  #474747;
  font-size: 20px;
}

#rc-campaign-detail-1{
  height: 85%;
}

#rc-campaign-detail-2 > p{
  color:  #898989;
}

#hover-campaign{
  display: flex;
  justify-content: space-between;
}

#campaign-item.m-top{
  margin-top: 2%;
}


/* p */
p{
  margin: unset;
}


.rc-campaign-img{
  min-height: 148px;
  width: 45%;
  height: auto;
}

#campaign-item{
  /* min-height: 38%; */
  min-width: 22%;
}

/* position */
.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

/* display */
.none{
  display: none;
}


.w-tiny.h-full.absolute#right-cnt{
  left: 90%;
}

.w-full.h-full.absolute{
  background-color: transparent;
}


.w-tiny.h-full.absolute #left.w-full.h-full.absolute:hover{
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.w-tiny.h-full.absolute .w-full.h-full.absolute:hover{
  background-color: red;
  opacity: 30%;
  /* width: 40% !important; */
}

.w-tiny.h-full.absolute #right.w-full.h-full.absolute:hover{
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.w-tiny.h-full.absolute#right-cnt{
  display: flex;
  justify-content: end;
}


/* hover */
#campaign-item:hover{
  box-shadow: unset !important;
  border: 2px solid #00A6F5 !important;
}

#left-cnt #left:hover{
  background-color: #04B36B;
}

#m-input.input-left.err{
  /* background-color: red ; */
  border: 1px solid tomato !important;
}

a#home-navigation-3{
  height: 10%;
  display: flex;
  align-items: self-end;
}

a#home-navigation-1{
  height: 10%;
  display: flex;
  align-items: self-end;
}

a#home-navigation-2{
  height: 10%;
  display: flex;
  align-items: self-end;
}

.justify-se{
  justify-content: space-evenly;
}

#itemHeader.endPosition.w-full:nth-child(1),#itemBody.w-full:nth-child(1){
  width: 40% !important;
}

#itemHeader.endPosition.w-full:nth-child(2){
  width: 120% !important;
}

#itemBody.w-full:nth-child(2){
  width: 40% !important;
}

#itemBody.w-full:nth-child(3){
  width: 123% !important;
}


#itemHeader.endPosition.w-full:nth-child(4){
  width: 45% !important;
}

#item-RC.w-inherit.flex{
  width: 95% !important;
  display: flex;
  flex-direction: column;
}

#itemBody.w-full{ 
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}

.center.w-full.primary-space-btm{
  height: 5%;
  border-bottom: 2px solid #888888 !important;
}

/* bottom space */

.primary-space-btm{
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

.items-modal{
  height: 90% !important;
  top: unset !important;
  width: 95% !important;
}

#modal-body-item{
  height: 100%;
}

.itemModal{
  height: 100% !important;
  width: 90% !important;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 0px 15px;
  max-width: 525px;
}

#itemModal.font{
  text-align: start;
  font-size: 18px;
  font-weight: 500;
}

#conditionItem #modal-select{
  width: 103% !important;
} 

#itemModalDate div input{
  height: 100%;
}

#itemModalDate{
  height: 100%;
}

#itemModalDate > div{
  height: 85%;
}

.DayPickerInput input{
  height: 86% !important;
}

#modal-select-multiple{
  width: unset !important;
  background: unset;
  background: aqua;
  /* height: 200px; */
  max-width: 153px;
  max-height: 90px;
  height: 20px;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding-left: unset;
}

#manageItemImage{
  width: 100%;
  height: 80%;
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-radius: 15px;
}

#manageItemImageTitleCnt{
  height: 12%;
}

#manageItemImageTitle{
  /* border-bottom: 1px solid black; */
  width: 43%;
  font-size: 20px;
  font-weight: 500;
}

#imageList{
  height: 87%;
  width: 98%;
}

#addImage{
  background: #EAC457;
  height: 9%;
  border-bottom-left-radius: 10px;
  width: 98%;
  border-bottom-right-radius: 10px;
}

#imageListHeader{
  margin-top: 5px;
  border-bottom: 1px solid #AAADBF;
}

#imageListSubHdr:nth-child(1){
  width: 15%;
}

#imageListSubHdr:nth-child(2){
  width: 65%;
}

#imageListSubHdr:nth-child(3){
  width: 20%;
}

#imageListSubHdr #m-input{
padding-left: 14px;
height: 33px;
max-width: 94%;
}

#m-input:focus-visible{
  outline: unset !important;
}


.column.center.h-full > .DayPickerInput > input{
  font-size: 15px;
  padding-left: 15px;
  max-width: 150px;
}

#imageListSubHdr > div{
  height: 25px;
  display: flex;
  justify-content: center;
  width: 25px;
  border-radius: 100%;
  border: 1px solid #7EADE1;
  align-items: center;
}

#imageMapping > #imageListCnt > div{
  border-bottom: unset;
}

#imageListSubHdr > div{
  /* width: 35px;
  height: 35px;
  border-radius: 27px; */
  cursor: pointer;
  border:unset ;
}

#imageListSubHdr > div:hover{
  /* background: cornsilk; */
}

svg.injectStyle:hover{
  font-size: 25px;
}

.itemArea{
  width: 99%;
  height: 100%;
  padding: 12px 12px;
  max-width: 558px;
  resize: unset;
  border-radius: 13px;
}

#modalArea{
  max-height: 770px;
  height: 100%;
  margin-top: 5%;
  resize: unset;
}

#imageListHeader.flex.center.item.active,#imageListHeader.flex.center.item:hover{
  background-color: #E1ECFF;
}


#sizeManagement > button{
  font-size: 13px;
  height: 25px;
  border: 2px solid rgb(0, 0, 0, 0.2);
  margin-top: 6%;
  color: #5F6368;
  background-color: #FFFFFF;
}

.line-hr{
  margin-top: 5px;
  border-bottom: 1px solid #AAADBF;
}

#sizeManagement{
  width: 95%;
}

#sizeManagement > button.active{
  background-color: #4A97ED;
  color: white;
}


#sizeManagement > button:hover{
  border: 2px rgba(0, 99, 216, 1) solid;
}

#manageItemData > input {
  height: 30% !important;
  width: 70% !important;
}


#itemCoreCnt #manageItemImage #imageMapping #imageListCnt{
  max-height: 190px;
  min-height: 190px;
}

.scroll{
  overflow: scroll;
  overflow-x: hidden;
}


#imageListCnt.column.cnt{
  overflow: scroll;
  max-height: 200px;
  overflow-x: auto;
}

#imageModal{
  display: flex;
  position: absolute;
  flex: 1;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%; 
  border-radius: 18px;
  align-items: center;
  justify-content: center;
}

.center.w-full.primary-space-btm:hover{
  background-color: rgba(24, 25, 27, 0.3) !important;
}

.center.w-full.primary-space-btm:hover #editor{
  display: flex !important;
}

#itemBody.item1{
  width: 30% !important;
}

#itemEditor{
  width: 15%;
  height: 35px;
  background-color: #FDDD68;
  border-radius: 10px;
  cursor: pointer;
  color: #18191B;
}

#itemDeletor{
  cursor: pointer;
  width: 15%;
  height: 35px;
  color: #18191B;
  background-color: #E46565;
  border-radius: 10px;
}

.rc-container-redirect:hover{
  cursor: pointer;
}

a{
  text-decoration: none !important;
}

.container.item-list{
  display: flex;
  justify-content: start !important;
  width: 100%;
}

.container.item-list #itemBody:nth-child(1){
  max-width: 50px !important;
  min-width: 50px !important;
}

.container.item-list #itemBody:nth-child(2){
  max-width: 150px !important;
  min-width: 150px !important;
}

.container.item-list #itemBody:nth-child(3){
  max-width: 110px !important;
  min-width: 110px !important;
}

.container.item-list #itemBody:nth-child(4){
  max-width: 75px !important;
  min-width: 75px !important;
}

.container.item-list #itemBody:nth-child(5){
  max-width: 110px !important;
  min-width: 110px !important;
}


.rc-content-redirect.h-full{
  max-height: 16em;
  max-width: 21em;
  margin-top: 5%;
  margin-left: 6%;
}

#rc-content-cnt{
  display: flex;
}

#rc-campaign-content-img.h-full.w-full.center.a-end span,
#rc-campaign-content-img.h-full.w-full.center.a-end span img{
  height: 100%;
}

#rc-campaign-content-detail{
  height: 13%;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  top: 3.8em;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  /* float: none; */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #FF0000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}